Source: ros-kilted-joint-state-topic-hardware-interface
Section: misc
Priority: optional
Maintainer: Marq Rasmussen <marq.razz@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-cmake-gmock <!nocheck>, ros-kilted-angles, ros-kilted-controller-manager <!nocheck>, ros-kilted-hardware-interface, ros-kilted-joint-state-broadcaster <!nocheck>, ros-kilted-joint-trajectory-controller <!nocheck>, ros-kilted-launch <!nocheck>, ros-kilted-launch-ros <!nocheck>, ros-kilted-launch-testing <!nocheck>, ros-kilted-rclcpp, ros-kilted-rclpy <!nocheck>, ros-kilted-robot-state-publisher <!nocheck>, ros-kilted-ros-testing <!nocheck>, ros-kilted-ros2-control-cmake, ros-kilted-ros2-control-test-assets <!nocheck>, ros-kilted-sensor-msgs, ros-kilted-xacro <!nocheck>, ros-kilted-ros-workspace
Homepage: https://github.com/ros-controls/topic_based_hardware_interfaces
Standards-Version: 3.9.2

Package: ros-kilted-joint-state-topic-hardware-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-angles, ros-kilted-hardware-interface, ros-kilted-rclcpp, ros-kilted-sensor-msgs, ros-kilted-ros-workspace
Description: ros2_control hardware interface for JointState topic based control
